auto-install-peers=false
engine-strict=true
link-workspace-packages=false
prefer-workspace-packages=false
save-exact=true
shared-workspace-lockfile=true
strict-peer-dependencies=true
verify-store-integrity=true
